.wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    row-gap: 1rem;
}

.postInput {
    resize: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 1rem;
}

.postInput:focus {
    outline: none;
    border-color: rgb(var(--foreground-rgb));
}

.submit {
    align-self: flex-end;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid;
    background-color: rgb(var(--foreground-rgb));
    color: rgb(var(--background-rgb));
}

.submit:hover {
    background-color: rgb(var(--foreground-rgb), 0.85);
}

.submit:disabled {
    background-color: rgb(var(--foreground-rgb), 0.5);
    cursor: not-allowed;
}